{
    "docomo":"docomo Deveroper TOKEN",
    "bot":"BOT TOKEN",
    "manager_id":"BOT MANAGER DISCORD ID",
    "db_user":"taro",
    "password":"password",
    "host":"localhost",
    "db_name":"taro_dsc"
}